<div class="flex flex-col gap-8 my-20">
  <div class="grid sm:grid-cols-2 gap-12 mx-auto max-w-screen-lg">
    <img class="w-48 sm:w-96 rounded-xl -rotate-2 shadow-xl justify-self-center sm:justify-self-end" loading="lazy" src="{{ site.baseurl }}/assets/images/me.jpeg" />

    <div class="flex flex-col justify-center">
      <div class="flex flex-col gap-4 sm:gap-8">
        <div>
          <h1 class="text-4xl sm:text-5xl font-semibold tracking-tight mb-3.5 text-pink-800">@spencerldixon</h1>
          <h2 class="text-2xl font-semibold tracking-tight">I build tech products to solve hard problems</h2>
        </div>

        <p class="text-lg">
        I'm Spencer, Senior Ruby + Python Developer with over 11 years of experience working across public, private and non-profit sectors. 
        </p>

        <p class="text-lg">
        You can find my work in UK Government Digital Services and powering global conservation efforts.
        </p>

        <p class="text-lg">
        I write about the art and architecture of building good software products. I'm currently building things to do with trade tariffs at HMRC. 
        </p>

        <div class="flex gap-4 mx-auto">
          <a href="https://github.com/spencerldixon" target="_blank">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>

          <a href="https://bsky.app/profile/spencerldixon.bsky.social" target="_blank">
            <i class="fa-brands fa-bluesky fa-xl"></i>
          </a>

          <a href="https://twitter.com/spencerldixon" target="_blank">
            <i class="fa-brands fa-x-twitter fa-xl"></i>
          </a>

          <a href="https://linkedin.com/in/spencerldixon" target="_blank">
            <i class="fa-brands fa-linkedin fa-xl"></i>
          </a>

          <a href="javascript:window.location.href='mailto:' + atob('c3BlbmNlcmxsb3lkZGl4b25AZ21haWwuY29t')">
            <i class="fa-solid fa-envelope fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

