<div class="flex flex-col gap-8 my-20">
  <div class="grid sm:grid-cols-2 gap-12 mx-auto max-w-screen-lg">
    <img class="w-48 sm:w-96 rounded-3xl -rotate-2 shadow-xl justify-self-center sm:justify-self-end" loading="lazy" src="{{ site.baseurl }}/assets/images/me.jpeg" />

    <div class="flex flex-col justify-center">
      <div class="flex flex-col gap-5 sm:gap-8">
        <h1 class="text-4xl sm:text-5xl font-semibold">@spencerldixon</h1>
        <h2 class="text-2xl font-semibold">Senior Ruby Contractor</h2>

        <p class="text-xl">
        Hey 👋, I'm Spencer, I'm a Senior Ruby on Rails Developer with over 10 years of experience working across public, private and non-profit sectors.
        </p>

        <p class="text-xl">
        I write about Ruby, Hotwire and software development. I'm currently working on a modern bookmark manager <a href="https://soju.so" target="_blank" class="text-primary hover:underline">soju.so</a>
        </p>

        <div class="flex gap-4 mx-auto">
          <a href="https://github.com/spencerldixon" target="_blank">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>

          <a href="https://twitter.com/spencerldixon" target="_blank">
            <i class="fa-brands fa-x-twitter fa-xl"></i>
          </a>

          <a href="https://linkedin.com/in/spencerldixon" target="_blank">
            <i class="fa-brands fa-linkedin fa-xl"></i>
          </a>

          <a href="javascript:window.location.href='mailto:' + atob('c3BlbmNlcmxsb3lkZGl4b25AZ21haWwuY29t')">
            <i class="fa-solid fa-envelope fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

