---
---

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "basecoat-css";

pre {
  padding: 0;
}

.prose {
  @apply text-foreground
}

.prose > h1 {
  @apply text-3xl font-semibold tracking-tight
}

.prose > h2 {
  @apply text-2xl font-semibold tracking-tight
}

.prose > h3 {
  @apply text-xl font-semibold tracking-tight
}
